<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>상품등록</title>
        <link href="../../static/style.css" type="text/css" rel="stylesheet">
        <link href="../../static/5~7style.css" type="text/css" rel="stylesheet">
    </head>

    <body>
        {% include 'header-and-nav.html' %}

        <main class="padding">
            <!--페이지 정보-->
            <div class="main-header-left">
                <div class="oneLine">
                    <h1 style="text-align: left;">리뷰</h1>
                    <p>(92)</p><!--추가: 리뷰 숫자 받아와서 숫자 작성하는것-->
                </div>
                    <hr class="main-hr">     
            </div> 

            <!--리뷰 요약-->
            <div class ="review-summary__box">
                <div class="box left">
                    df
                </div>
                <div class="box middle">
                    dfsdadsf
                </div>
            </div>
            <!--별점-->
        </main>
    </body>
</html>