<!DOCTYPE html>
<html>
    <head>
        <link href="../../static/5~7style.css" type="text/css" rel="stylesheet">
        <link href="../../static/style.css" type="text/css" rel="stylesheet">
        <link href="../../static/btn.css" type="text/css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>My Page</title>
    </head>
    <body>
        {% extends 'index.html' %}
        {% block section %}
            <main class="padding" id="min_width_600">
                <div class="main-header">
                    <h1 class="main-header">My Page</h1> 
                    <div class="main-hr__padding"></div><br>
                </div>
                {% if total == 0 %}
                    <div>
                        상품 구매 내역이 없습니다
                    </div>
                {% endif %}

                {% if total != 0 %}
                    {% for key, value in purchase %}
                        <div class="grid-container-wrapper" >
                            <div class="mypage-container">
                                
                                    <div class="box left">
                                        <!--상품 사진-->
                                        <img src="../../static/img/logo.png" width="100%"style="max-height: 130px; min-width: 90px;" alt="상품 예시 사진입니다">
                                    </div>

                                    <div class="box middle" id="mypage-box-middle">
                                        <!--상품  제목-->
                                        <form class="mb-3" name="myform" method="post" action="reg_review_init" enctype="multipart/form-data">
                                            <div class="review-info__title">
                                                <input type="text" name="name" id="name" class="review-info__title" value="{{ value.item_name }}" style="display: none;">
                                                {{ value.item_name }} 
                                            </div>
                                            <div class="review-info__text">
                                                <p>{{ value.course_name }} | {{ value.course_number }} | {{ value.professor }}</p>
                                            </div>
                                                
                                            <div class="review-info__text">
                                                <img src="../../static/img/logo.png" width="25px" height="25px">
                                                <input type="text" name="seller_id" id="seller_id" class="review-info__text" value="" style="text-align: left;">
                                            </div>
                                            <div class="review-info__text" id="justify-right">
                                                <button class="button btnDefaultblue btnFade" id="reg-review-button" onclick="location.href='/5~7/reg_reviews/{{key}}';" style="cursor:pointer;">리뷰작성하기</button>                                
                                            </div>
                                        </form>
                                    </div>
                                
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                {% endif %}    
            </main>
        {% endblock section %}
    </body>

</html>