<div id="review-card__title">
    <img class="input-img" src=""> <!--백엔드에서 등록된 리뷰사진 불러오기-->
    <div id="review-card__title__course-and-prof">
        <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
    </div>
    <div id="review-card__title__item-name">
        <!--백엔드에서 등록된 item-name 불러오기-->
    </div>
    <span id="review-card__title__seller">
        <!--백엔드에서 등록된 판매자 이름 불러오기-->
    </span>
</div>
<div id="review-card__info">
    <span id="review-card__info__buyer">
        <img class="input-img" src="../static/img/download.svg">
        <!--다운로드/판매횟수 백엔드에서 불러오기-->
    </span>
    <span id="review-card__info__rate">
        <img class="input-img" src="../static/img/star.svg">
        <!--별점 백엔드에서 불러오기-->
    </span>
    <div id="review-card__info__tag">
        <!--백엔드에서 불러오기-->
    </div>
    <span id="review-card__info__review">
        <!--추가: 리뷰화면으로 연결-->
        <a href="">상세리뷰</a>
    </span>
</div>