<!DOCTYPE html>
<html>
<!--수정해야 할 곳 검색 키워드: '추가'-->
<!--클래스 통일/변경해야 할 곳 검색 키워드: '클래스통일'-->
<!--백엔드연결 키워드: '백엔드'-->

<head>
    <meta charset="UTF-8">
    <title>상품등록</title>
    <link href="/static/1~4style.css" type="text/css" rel="stylesheet">
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <script src="/static/1~4main.js"></script>
</head>

<body>
    {% include 'header-and-nav.html' %}

    <main>
        <div class="main-header">
            <h1>상품등록</h1>
            <div>판매자 : {{ usrname }}</div>
            <hr class="main-hr">
        </div>
        <div class="outer">
            <div class="signup-inner">
                <!-- 입력 폼 시작 -->
                <form id="regitem" action="/submit_regiterd_item" method="post">
                    <table>
                        <tr><!-- 상품 이름 -->
                            <th>상품 이름</th>
                            <td><input type="text" id="item-name" name="item-name" required></td>
                        </tr>
                        <tr><!-- 상품 타입: 2에서 반복됨 -->
                            <th></th>
                            <td>{% include '1~4/regitem__type.html' %}</td>
                        </tr>
                        <tr><!-- 가격 -->
                            <th>가격</th>
                            <td>
                                <input type="number" class="input-with-icon" id="price" name="price"
                                    oninput="addCommas(this);" style="background-image: url(/static/img/point.svg);"required>
                            </td>
                        </tr>
                        <tr> <!--강의 -->
                            <th>강의</th>
                            <td>
                                {% include '1~4/regitem__course__course-type.html' %}
                                {% include '1~4/regitem__course__faculty.html' %}
                                {% include '1~4/regitem__course__course-number.html' %}
                            </td>
                        </tr>
                    </table>




                    <br><br><br><br>
                    <hr><br><br><br><br>







                    <div id="regitem__name">
                        <label for="item-name">상품 이름</label>
                        <input type="text" id="item-name" name="item-name" required><br><br>
                    </div>

                    <!-- 상품 타입: 2에서 반복됨 -->
                    <div id="regitem__type">
                        {% include '1~4/regitem__type.html' %}
                    </div>

                    <!-- 가격 -->
                    <div id="regitem__price">
                        <label for="price">가격</label>
                        <img class="input-img" src="/static/img/point.svg">
                        <input type="number" id="price" name="price" oninput="addCommas(this);" required><br><br>
                    </div>

                    <!-- 강의 -->
                    <div>
                        <!-- 2에서 반복됨: 추후 이 안쪽은 전보 include 'course-info.html' 로 대체 -->
                        <!-- 전공/교양 -->
                        <div id="regitem__course__course-type">
                            {% include '1~4/regitem__course__course-type.html' %}

                        </div>
                        <!-- 단과대 -->
                        <div id="regitem__course__faculty">
                            {% include '1~4/regitem__course__faculty.html' %}
                        </div>
                        <!-- 과목명/학수번호 -->
                        <div id="regitem__course__course-number">
                            {% include '1~4/regitem__course__course-number.html' %}
                        </div>
                        <!-- 교수님 -->
                        <div id="regitem__course__professor">
                            <input type="text" id="professor" name="professor" placeholder="교수님 성함"><br><br>
                        </div>
                    </div>

                    <!-- 상세 설명 -->
                    <div id="regitem__description">
                        <label for="description">상세설명</label>
                        <input type="text" id="description" name="description" placeholder="상품에 대해 간략하게 설명해주세요."
                            required>
                    </div>

                    <!-- 해시태그 -->
                    <div id="regitem__tag">
                        <label for="tag">해시태그</label>
                        <input type="text" id="tag" name="tag" placeholder="#를 기준으로 구분됩니다. 예)#자료구조 #연결리스트"
                            required><br><br>
                    </div>

                    <!-- 판매 상품 파일 등록 -->
                    <div id="regitem__item-upload">
                        <label for="item-upload">상품등록</label>
                        <input type="file" id="item-upload" name="item-upload" placeholder="상품을 등록해주세요.">
                    </div>

                    <!-- 사진 등록 -->
                    <div id="regitem__photo-upload">
                        <label for="photo-upload">사진등록</label>
                        <!-- 추가: class 5번 화면과 같은 이름으로 -->
                        <input type="file" id="photo-upload" class="" name="photo-upload"
                            placeholder="처음으로 불러온 사진이 대표사진으로 설정됩니다.">
                    </div>

                    <!-- 등록하기 버튼 -->
                    <div>
                        <input type="submit" value="등록하기"><br><br>
                    </div>

                </form>
            </div>
        </div>
    </main>
</body>

</html>