<!DOCTYPE html>
<html>
<!--수정해야 할 곳 검색 키워드: '추가'-->
<!--클래스 통일/변경해야 할 곳 검색 키워드: '클래스통일'-->
<!--백엔드연결 키워드: '백엔드'-->

<head>
    <meta charset="UTF-8">
    <title>상품세부화면</title>
    <link href="/static/1~4style.css" type="text/css" rel="stylesheet">
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <script src="/static/1~4main.js"></script>
</head>

<body> <!--1,8 가로폭 지정-->
    <header> {% include 'header.html' %}</header>
        <!----------------------상품보기------------------------->
        <!----2번 화면 item card 중복 요소 있음-->
        <section id="item-info">
            <!-------------------대표상품이미지------------------>
            <!--가능하다면 js로
                    (1)이미지 개수에 따라 다르게 보이도록(없는 칸은 회색단색으로 표시
                    (2)이미지 클릭 시 그 이미지가 제일 큰 이미지창에 보이도록-->
            <div id="item-info__img">
                <!--대표이미지:1번-->
                <img id="item-info__img__1" class="input-img" src="">
                <img id="item-info__img__2" class="input-img" src="">
                <img id="item-info__img__3" class="input-img" src="">
                <img id="item-info__img__4" class="input-img" src="">
                <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
            </div>
            <div id="item-info__course-and-prof">
                <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
            </div>
            <div id="item-info__item-name">
                <!--백엔드에서 등록된 item-name 불러오기-->
            </div>
            <span id="item-info__seller">
                판매자 <!--백엔드에서 등록된 판매자 이름 불러오기-->
            </span>

            <div id="item-info__price">
                <img class="input-img" src="../static/img/point.svg">
                <!--가격 백엔드에서 불러오기-->
            </div>
            <span id="item-info__buyer">
                <img class="input-img" src="../static/img/download.svg">
                <!--다운로드/판매횟수 백엔드에서 불러오기-->
            </span>
            <span id="item-info__rate">
                <img class="input-img" src="../static/img/star.svg">
                <!--별점 백엔드에서 불러오기-->
            </span>
            <div id="item-info__tag">
                <!--백엔드에서 불러오기-->
            </div>

        </section>
        <!----------------------장바구니/구매------------------------->
        <section id="buy-option">
            <!--장바구니에 담기: 장바구니 화면으로 링크 없음-->
            <label for="buy-optioin__cart">장바구니에 담기</label>
            <input type="button" id="buy-optioin__cart" name="buy-optioin__cart" class="default-blue-box"><br><br>
            <label for="buy-option__pay">바로 구매</label>
            <input type="button" id="buy-option__pay" name="buy-option__pay" class="defulat-blue-border-box"><br><br>
        </section>
        <!-------------------------상세설명/리뷰--------------------->
        <section id="item-detail">
            <!--js: 클릭 시 상세설명이 보이도록-->
            <button id="item-detail__description" onclick="showDescription()">상세 설명</button>
            <p id="product-description-text">
                <!--백엔드: 상세 설명 받아오기-->
            </p>
            <!--js: 클릭 시 리뷰 요약이 보이도록 or 전체 리뷰 창으로 이동-->
            <button id="item-detail__review" onclick="showReview()">리뷰</button>
            <div id="item-detail__review-contents">
                <!--백엔드: 리뷰 내용 받아오기-->
            </div>

        </section>



    </main>

</body>

</html>