<!DOCTYPE html>
<html>
<!--수정해야 할 곳 검색 키워드: '추가'-->
<!--클래스 통일/변경해야 할 곳 검색 키워드: '클래스통일'-->
<!--백엔드연결 키워드: '백엔드'-->

<head>
    <meta charset="UTF-8">
    <title>상품세부화면</title>
    <link href="/static/1~4style.css" type="text/css" rel="stylesheet">
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <link href="/static/3btn.css" type="text/css" rel="stylesheet">
    <script src="/static/1~4main.js"></script>
</head>

<body> <!--1,8 가로폭 지정-->
    {% include 'header-and-nav.html'%}
    <!----------------------상품보기------------------------->
    <!----2번 화면 item card 중복 요소 있음-->
    <main>
        <div id="item-info-container">
            <!-------------------대표상품이미지------------------>

            <!--가능하다면 js로
                    (1)이미지 개수에 따라 다르게 보이도록(없는 칸은 회색단색으로 표시
                    (2)이미지 클릭 시 그 이미지가 제일 큰 이미지창에 보이도록-->
            <div id="item-info__img">
                <!--추후 js 백엔드 연결 시 사진 삭제-->
                <!--대표이미지main. 1,2,3 서브이미지 중 하나 확대. default는 img-1-->
                <div class="item-detail__img-container">
                    <img id="item-info__img-main" class="item-detail__main-img" src="/static/img/logo.png">
                </div>
                <div class="item-detail__img-container">
                    <img id="item-info__img-1" class="item-detail__sub-img" src="/static/img/logo.png">
                    <img id="item-info__img-2" class="item-detail__sub-img" src="/static/img/logo.png">
                    <img id="item-info__img-3" class="item-detail__sub-img" src="/static/img/logo.png">
                    <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
                </div>
            </div>
            <div>
                <div class="item-card__info">
                    <div class="item-card__course-and-prof">
                        <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
                        자료구조 20481 | 홍길동 교수님
                    </div>
                    <strong class="item-card__item-name">
                        <!--백엔드에서 등록된 item-name 불러오기-->
                        제 6장 연결리스트1 정리
                    </strong>
                    <span class="item-card__seller">
                        <!--백엔드에서 등록된 판매자 이름 불러오기-->
                        BY. 이화인
                        <br><br></span>
                    <div class="price-rate-continer">
                        <span class="item-card__price">
                            <img class="input-img" src="/static/img/point.svg" style="margin-right: 5px;">
                            <!--가격 백엔드에서 불러오기-->
                            1000
                        </span>
                        <span class="item-card__rate">
                            <span class="item-card__download" style="margin-right: 10px;">
                                <img class="input-img" src="/static/img/download.svg">
                                <!--다운로드/판매횟수 백엔드에서 불러오기-->
                                28
                            </span>
                            <span class="item-card__star">
                                <img class="input-img" src="/static/img/star.svg">
                                <!--별점 백엔드에서 불러오기-->
                                4.8
                            </span>
                        </span>
                    </div>
                    <div class="item-card__tag">
                        <!--백엔드에서 불러오기-->
                        #자료구조 #연결리스트
                    </div>
                    <div class="item-card__review">
                        <!--추가: 리뷰화면으로 연결-->
                        <a href="">리뷰</a>
                    </div>
                </div>
                <div id="buy-option">
                    <!--장바구니에 담기/구매하기: 장바구니/결재 화면 없음-->
                    <a href="" title="into-cart" class="button btnFade btnBorderDefaultblue">장바구니</a>
                    <a href="" title="to-payment" class="button btnFade btnDefaultblue">바로 구매</a>
                </div>
            </div>

            <!----------------------장바구니/구매------------------------->
            <!----------------버튼 태그, js로 기능 구현, 백엔드 연결---------->


        </div>

        <!-------------------------상세설명/리뷰--------------------->
        <div>
            <div id="item-detail">
                <div id="item-detail-btn">
                    <!--js: 클릭 시 상세설명이 보이도록-->
                    <span><a href="" title="into-cart" class="button btnFade btnBorderDefaultblue">상세 설명</a>
                    </span><!--js: 클릭 시 리뷰 요약이 보이도록 or 전체 리뷰 창으로 이동-->
                    <span><a href="" title="into-cart" class="button btnFade btnBorderDefaultblue">리뷰</a>
                    </span>
                </div>
                <div>
                    <!--백엔드: 리뷰 내용 받아오기-->
                </div>
                <p id="product-description-text">
                    <!--백엔드: 상세 설명 받아오기-->
                </p>
            </div>|
        </div>
    </main>

</body>

</html>