<div class="item-card">
    <div class="item-card__title">
        <img class="item-card__img" src=""> <!--백엔드에서 등록된 상품 regitem__photo-upload 불러오기-->
        <div class="item-card__title__course-and-prof">
            <!--백엔드에서 등록된 상품의 과목, 교수님 정보 불러오기-->
        </div>
        <div class="item-card__title__item-name">
            <!--백엔드에서 등록된 item-name 불러오기-->
        </div>
        <span class="item-card__title__seller">
            <!--백엔드에서 등록된 판매자 이름 불러오기-->
        </span>
    </div>
    <div class="item-card__info">
        <div class="item-card__info__price">
            <img class="input-img" src="../static/img/point.svg">
            <!--가격 백엔드에서 불러오기-->
        </div>
        <span class="item-card__info__buyer">
            <img class="input-img" src="../static/img/download.svg">
            <!--다운로드/판매횟수 백엔드에서 불러오기-->
        </span>
        <span class="item-card__info__rate">
            <img class="input-img" src="../static/img/star.svg">
            <!--별점 백엔드에서 불러오기-->
        </span>
        <div class="item-card__info__tag">
            <!--백엔드에서 불러오기-->
        </div>
        <span class="item-card__info__review">
            <!--추가: 리뷰화면으로 연결-->
            <a href="">리뷰</a>
        </span>
    </div>
</div>