<!--단과대-->
    <select name="faculty">
        <option value="" disabled selected>단과대</option>
        <option value="libarts">인문대</option>
        <option value="sosci">사과대</option>
        <option value="natsci">자연대</option>
        <option value="eng">공대</option>
        <option value="music">음대</option>
        <option value="art">조예대</option>
        <option value="edu">사범대</option>
        <option value="busniss">경영대</option>
        <option value="converg">신융대</option>
        <option value="medicine">의대</option>
        <option value="nursing">간호대</option>
        <option value="pharmacy">약대</option>
        <option value="scranton">스크대</option>
        <option value="ai">인지대</option>
        <option value="hokma">호크마</option>
    </select><br>
