<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/8~10Style.css">
</head>

<body>

    {% extends "index.html" %}
    {% block section %}
    <div class="main-header">
        <h1 class="main-header__title"> 이화여자대학교 월간 랭킹 </h1>
        <hr class="main-hr">
    </div>

    <div class="outer">
        <div class="signup-inner">
            <br>
            <select id="college" name="college" onchange="location=this.value">
                <option value="{{url_for('ranking', page=i, college='all')}}">전체</option>
                <option value="{{url_for('ranking', page=i, college='인문과학대학')}}">인문과학대학</option>
                <option value="{{url_for('ranking', page=i, college='사회과학대학')}}">사회과학대학</option>
                <!--다른 대학 추가해야함-->
            </select>
        </div><br> 

        <!--랭킹 순위 별 프로필, 포인트 불러오기 백엔드 연동 필요: 유저네임, 유저프로필(img),  포인트(range의 value) 값 넣기-->
        <div class="ranking-inner">
            <p class="warning-msg">*총 거래 포인트(판매포인트+구매포인트)를 기준으로 한 상위 10명입니다.</p>
            {% if session['id'] %}           
            <p>{{session['id']}}님의 랭킹포인트는 {{ user_rankingpoint }}p입니다.</p>  
            {% else%}
            <p>랭킹포인트 확인을 위해 로그인을 해주세요.</p>
            {% endif %}

            <!--동적으로 랭킹을 가져오는 코드-->
            <table style="margin:auto;">
                {% for rank, user_data in datas %}
                    <tr>
                        <td>{{ rank }}</td>
                        <td><img src="{{ user_data['profile_image'] }}"></td>
                        <td>{{ user_data['username'] }}</td>
                        <td>
                            <div class="bar-container">
                                <div class="bar" id="bar{{ rank }}"></div>
                            </div>
                        </td>
                        <td>{{ user_data['rankingpoint'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

    <script>
    $(document).ready(function () {
    // alert("{{college}}");
    $('#college option:contains("{{college}}")').prop("selected", true);
    });
    </script>

<!-- 선택된 college에 따라 상위 10위 랭킹 동적으로 구현하기 -->
{% for rank, user_data in datas %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        setBarWidth('bar{{ rank }}', {{ user_data['rankingpoint'] }});
    });

    function setBarWidth(barId, value) {
        const bar = document.getElementById(barId);
        const width = (value / 1000000) * 100; // 범위를 백분율로 변환
        bar.style.width = width + '%';
    }
</script>
{% endfor %}

    {% endblock section %}
</body>
</html>
