<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <!--{% include 'header-and-nav.html'%}-->
    <!--통일된 헤더-네비게이션바와 다른 부분 수정해서 넣어두었습니다.-->
    <header>
        <div class="header">
            <!--logo-->
            <div id="logo-container">
                <img id="logo" src="../../static/img/logo.png">
            </div>
        </div>
    </header>

    <!--내비게이션-->
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="#">상품등록</a></li>
            <li class="nav-item"><a href="#">상품보기</a></li>
            <li class="nav-item"><a href="#">리뷰작성</a></li>
            <li class="nav-item"><a href="#">랭킹</a></li>
        </ul>
    </nav>

    <div class="main-header">
        <h1 class="main-header__title"> 회원가입 </h1>
        <hr class="main-hr">
    </div>
    <link href="../../static/style.css" rel="stylesheet" />
    <div class="outer">
        <form>
            <div class="signup-inner">
                <p class="warning-msg">*은 필수</p>
                <label for="ID">*아이디: </label>
                <input type="text" required id="ID" name="ID" placeholder="영문/숫자 조합" />
                <button class="중복체크">중복확인</button><br /><br />
                <!--중복체크 기능 구현 필요-->

                <label for="PW">*비밀번호: </label>
                <input type="password" required id="PW" name="PW" placeholder="영문/숫자 조합 8~16자" /><br /><br />

                <label for="PWconfirm">*비밀번호 확인: </label>
                <input type="password" required id="PWconfirm" name="PWconfirm" /><br /><br />

                <label for="email">*이메일 주소: </label>
                <input type="email" required id="email" name="email" /><br /><br />

                <label for="HP">전화번호: </label>
                <input type="tel" id="HP" name="HP" /><br /><br />

                <label for="dropdown1, dropdown2">대학 / 학과: </label>
                <select id="dropdown1">
                    <option value="인문과학대학">인문과학대학</option>
                    <option value="사회과학대학">사회과학대학</option>
                    <option value="자연과학대학">자연과학대학</option>
                    <option value="엘텍공과대학">엘텍공과대학</option>
                    <option value="음악대학">음악대학</option>
                    <option value="조형예술대학">조형예술대학</option>
                    <option value="사범대학">사범대학</option>
                    <option value="경영대학">경영대학</option>
                    <option value="신산업융합대학">신산업융합대학</option>
                    <option value="의과대학">의과대학</option>
                    <option value="간호대학">간호대학</option>
                    <option value="약학대학">약학대학</option>
                    <option value="스크랜튼대학">스크랜튼대학</option>
                    <option value="호크마교양대학">호크마교양대학</option>
                </select>

                <select id="dropdown2">
                    <option value="국어국문학과">국어국문학과</option>
                    <option value="중어중문학과">중어중문학과</option>
                    <option value="불어불문학과">불어불문학과</option>
                    <option value="독어독문학과">독어독문학과</option>
                    <option value="사학과">사학과</option>
                    <option value="철학과">철학과</option>
                    <option value="기독교학과">기독교학과</option>
                    <option value="영어영문학부">영어영문학부</option>
                </select>
                <br>
                <br>

                <label for="name">*닉네임: </label>
                <input type="text" required id="name" name="name" />
                <button class="중복체크">중복확인</button>
                <br />
                <br />
                <!--중복체크 기능 구현 필요-->

            </div>
            <div class="light-blue-btn">
                <button style="background-color: #00afb9; border: none; border-radius: 5px; width: 200px; color: white; font-size: 25px; "><b>가입하기</b></button>
            </div>

        </form>
    </div>

    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/8~10Style.css">
</body>
</html>