<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>

    <header>
        <div class="header">
            <!--logo-->
            <div id="logo-container">
                <img id="logo" src="../../static/img/logo.png">
            </div>
            <!--프로필, 사용자이름, 로그아웃-->
            <div id="loggedin-account">
                <!--이미지 추가-->
                <img src="../../static/img/profile.jpg">
                <!--마이페이지:이화인클릭 / 로그인화면:로그아웃클릭-->
                <a href="">이화인</a> | <a href="">로그아웃</a>
            </div>
        </div>
    </header>

    <!--내비게이션-->
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="#">상품등록</a></li>
            <li class="nav-item"><a href="#">상품보기</a></li>
            <li class="nav-item"><a href="#">리뷰작성</a></li>
            <li class="nav-item"><a href="#">랭킹</a></li>
        </ul>
    </nav>

    <div class="main-header">
        <h1 class="main-header__title"> 회원가입 </h1>
        <hr class="main-hr">
    </div>

    <div class="outer">
        <form>
            <div class="signup-inner">
                <p class="warning-msg">*은 필수</p>
                <label for="ID">*아이디: </label>
                <input type="text" required id="ID" name="ID" placeholder="영문/숫자 조합" />
                <button class="중복체크">중복확인</button><br /><br />
                <!--중복체크 기능 구현 필요-->

                <label for="PW">*비밀번호: </label>
                <input type="password" required id="PW" name="PW" placeholder="영문/숫자 조합 8~16자" /><br /><br />

                <label for="PWconfirm">*비밀번호 확인: </label>
                <input type="password" required id="PWconfirm" name="PWconfirm" /><br /><br />

                <label for="email">*이메일 주소: </label>
                <input type="email" required id="email" name="email" /><br /><br />

                <label for="HP">전화번호: </label>
                <input type="tel" id="HP" name="HP" /><br /><br />

                <label for="department, major">대학 / 학과: </label>
                <input type="search" id="department" name="department" />
                <input type="search" id="major" name="major" /><br /><br />

                <label for="name">*닉네임: </label>
                <input type="text" required id="name" name="name" />
                <button class="중복체크">중복확인</button><br /><br />
                <!--중복체크 기능 구현 필요-->

            </div>
            <div class="light-blue-btn">
                <button style="background-color: #00afb9; border: none; border-radius: 5px; width: 200px; color: white; font-size: 25px; "><b>가입하기</b></button>
            </div>

        </form>
    </div>

    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/8~10Style.css">
</body>
</html>