<!DOCTYPE html>
<html>
<!--수정해야 할 곳 검색 키워드: '추가'-->
<!--백엔드연동 키워드: '백엔드'-->

<head>
    <meta charset="UTF-8">
    <title>상품등록</title>
    <link href="1~4 style.css" type="text/css" rel="stylesheet">
    <script src="1-main.js"></script>
</head>

<body> <!--1,8 가로폭 지정-->
    <header> {% include '../templates/header.html' %}</header>
    <main>
        <nav>{% include '../templates/nav.html' %}</nav>
        <!--추가: 페이지 제목. 각 페이지마다 있는 사항 -> 통일필요-->
        <div class="main-header">
            <h1 class="main-header__title">상품등록</h1>
            <span class="main-header__seller">판매자 : {{ usrname }}</span> <!--백엔드연동: 로그인정보 -> 판매자 불러오기-->
        </div>

        <!------------------입력 폼 시작------------------->
        <form id="regitem" action="/submit_regiterd_item" method="post">
            <!--상품 이름-->
            <div id="regitem__name">
                <label for="item-name">상품 이름</label>
                <input type="text" id="item-name" name="item-name" required><br><br>
            </div>

            <!--상품 타입: 2에서 반복됨-->
            <div id="regitem__type">
                <input type="radio" name="item-type" id="item-type" value="assignment" required>과제물
                <input type="radio" name="item-type" id="item-type" value="note" required>노트 정리
                <input type="radio" name="item-type" id="item-type" value="etc" required>기타<br><br>
            </div>

            <!--가격-->
            <div id="regitem__price">
                <label for="price">가격</label>
                <img class="input-img" src="../static/point.svg">
                <input type="number" id="price" name="price" oninput="addCommas(this);" required><br><br>
            </div>

            <!--강의-->
            <div id="regitem__course">
                <!--2에서 반복됨: 추후 이 안쪽은 전보 {%incldue 'course-info.html' %}로 대체-->
                <!--전공/교양-->
                <div id="regitem__course__course-type">
                    {% include 'regitem__course__course-type' %}
                    </select>
                </div>
                <!--단과대-->
                <div id="regitem__course__college">
                    {% include 'regitem__course__college' %}             
                </div>
                <!--과목명/학수번호-->
                <div id="regitem__course__course-number">
                    {% include 'regitem__course__course-number.html' %}
                </div>
                <!--교수님-->
                <div id="regitem__course__professor">
                    <input type="text" id="professor" name="professor" placeholder="교수님 성함"><br><br>
                </div>
            </div>

            <!--상세 설명-->
            <div id="regitem__description">
                <label for="description">상세설명</label>
                <input type="text" id="description" name="description" placeholder="상품에 대해 간략하게 설명해주세요." required>
            </div>

            <!--판매 상품 파일 등록-->
            <div id="regitem__item-upload">
                <label for="item-upload">상품등록</label>
                <input type="file" id="item-upload" name="item-upload" placeholder="상품을 등록해주세요.">
            </div>

            <!--사진 등록-->
            <div id="regitem__photo-upload">
                <label for="photo-upload">사진등록</label>
                <!--추가: class 5번 화면과 같은 이름으로-->
                <input type="file" id="photo-upload" class="" name="photo-upload"
                    placeholder="처음으로 불러온 사진이 대표사진으로 설정됩니다.">
            </div>

            <!--등록하기 버튼-->
            <div>
                <input type="submit" value="등록하기"><br><br>
            </div>

        </form>

    </main>
</body>

</html>