<!DOCTYPE html>
<html>
<!--수정해야 할 곳 검색 키워드: '추가'-->
<!--백엔드연동 키워드: '백엔드'-->

<head>
    <meta charset="UTF-8">
    <title>상품등록</title>
    <link href="static/1~4 style.css" type="text/css" rel="stylesheet">
    <script src="static/1~4 main.js"></script>
</head>

<body> <!--1,8 가로폭 지정-->
    <header> {% include '../templates/header.html' %}</header>
    <main>
        <!--------------------------내비게이션----------------------->
        <nav>{% include '../templates/nav.html' %}</nav>
        <!-------------------------페이지 제목----------------------->
        <!--추가: 페이지 제목. 각 페이지마다 있는 사항 -> 통일필요-->
        <div class="main-header">
            <h1 class="main-header__title">상품 보기</h1>
        </div>
        <!-------------------------상품검색-------------------------->
        <div id="search">
            <!-------1과 중복: 
            추후 바로 아래 줄부터 ***까지 {%incldue (요소이름).html%}로 대체----->
            <!-----과목/학수번호검색-->
            <div id="search__course-number">
                {% include 'regitem__course__course-number.html' %}
            </div>
            <!--전공/교양-->
            <span id="search__course-type">
                {% include 'regitem__course__course-type.html' %}
            </span>
            <!--단과대-->
            <span id="search__faculty">
                {% include 'regitem__course__faculty.html' %}
            </span>
            <!--학과-->
            <span id="search__department">
                <select name="department" placeholder="학과">
                    <!-- 옵션은 JavaScript로 동적으로 추가 -->
                    <!-- '단과대'의 입력에 따라 '학과'의 입력 가능 범위를 동적으로 변경-->
                </select><br>
            </span>
            <!--타입-->
            <span id="search__type">
                {% include 'regitem__type.html' %}   
            </span>
        </div>
        <!-------------------------상품보기-------------------------->
        <div>
            <!------정렬------->
            <div>
                <span onClick="sortby_regdate()">등록순</span> |
                <span onClick="sortby_popular()"> 인기순</span> |
                <span onClick="sortby_lowprice()"> 낮은 가격순</span>
            </div>
            <!-----상품카드----->
            <div id="item-card">
                <img src=""> <!--백엔드 불러오기-->
                <div>
                    
                </div>
                
            </div>
        </div>

        <!--페이지네이션---->
        <div>
            12345
        </div>
    </main>
    <!----------------------------필터---------------------------->
    <aside>
        <!--제목-->
        <h3>필터</h3>
        <input type="reset" value="초기화">
        <!--등록년도-->
        <!--태그-->
        <!--판매자-->
    </aside>
</body>

</html>