/*리뷰 페이지*/
.review-info__box{
    border-radius: 5px;
    border: 2px solid #C6C4C4;
    background: #FFF;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex; 
  }
  .review-info__title{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
  }
  .review-info__text{
    color: #343434;
    font-family: Inter;
    font-size: normal;
    font-style: normal;
    line-height: normal;
  }
  .box {
    padding: 10px;
  }
  
  .box.left {
    flex: 20%; /* flex 속성을 사용하여 너비를 조절합니다. */
  }
  
  .box.middle {
    flex: 50%; /* flex 속성을 사용하여 너비를 조절합니다. */
  }
  .box.right{
    flex: 30%;
  }
  
  .oneLine h3, .oneLine p, .oneLine h1 {
    display: inline;
  }
  .btn-clicked{
    background-color: #00AFB9;
    border: none;
    border-radius: 50px;
    height: 30px;
    color: #FFF;
  }

  .btn-unclicked{
    background-color: #ffffff;
    border-color: #00AFB9;
    border-radius: 50px;
    height: 30px;
    color: #000000;
  }
  .file-button {
    display:inline-block;
    height: 80px;
    width: 100px;
    background-color: #d9d9d9;
    text-align: center;
    text-align : center;
    padding-top: 50px;
}
label {
    cursor: pointer;
}

/* 못생긴 기존 input 숨기기 */
#chooseFile {
    visibility: hidden;
}
/*페이지 6*/
.review-summary__box{
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 20px;
  border-color: null;
  background-color: #F4F4F4;
  display: flex; 
  height: 180px;
}

.review-title{
  font-size: 22px;
}