/*리뷰 페이지*/
.review-info__box{
    border-radius: 5px;
    border: 2px solid #C6C4C4;
    background: #FFF;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex; 
  }
  .review-info__title{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
  }
  .review-info__text{
    color: #343434;
    font-family: Inter;
    font-size: normal;
    font-style: normal;
    line-height: normal;
  }
  .box {
    padding: 10px;
  }
  
  .box.left {
    flex: 20%; /* flex 속성을 사용하여 너비를 조절합니다. */
  }
  
  .box.middle {
    flex: 50%; /* flex 속성을 사용하여 너비를 조절합니다. */
  }
  .box.right{
    flex: 30%;
  }
  
  .oneLine h3, .oneLine p, .oneLine h1 {
    display: inline;
  }
  .btn-clicked{
    background-color: #00AFB9;
    border: none;
    border-radius: 50px;
    height: 30px;
    color: #FFF;
  }

  .btn-unclicked{
    background-color: #ffffff;
    border-color: #00AFB9;
    border-radius: 50px;
    height: 30px;
    color: #000000;
  }
  .file-button {
    display:inline-block;
    height: 80px;
    width: 100px;
    background-color: #d9d9d9;
    text-align: center;
    text-align : center;
    padding-top: 50px;
}
label {
    cursor: pointer;
}

/* 기존 input 숨기기 */
#chooseFile {
    visibility: hidden;
}
/*페이지 6*/
.review-summary__box{
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 20px;
  border-color: null;
  background-color: #F4F4F4;
  display: flex; 
  height: 180px;
}

.review-title{
  font-size: 22px;
}
/*맽 숫자*/
.pagination {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* 페이지를 가운데 정렬 */
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  font-size: 15px;
  color: black; /* 글자색을 검은색으로 설정 */
}

.inLine {
  display: flex;
  align-items: flex-end; /* 수직 정렬을 아래로 설정 */
  padding-bottom: 2px;
}
.inLine h2{
  display: flex;
}
.inLine form {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬을 설정 */
  width: 100%; /* 전체 폭을 사용하도록 설정 */
}

.inLine label, .inLine select {
  margin-right: 10px; /* 드롭다운 메뉴 사이의 간격 설정 */
}

/* 선택적으로 드롭다운 메뉴 스타일링을 추가할 수 있습니다. */
.inLine select {
  padding: 5px;
  border: 1px;
  width: auto;
}
.inLine h3 {
  white-space: nowrap;
}


/*********************review.html 의 css****************************/

/*행 block*/
.container{
  background-color: null;
  display: flex;
  height: 160px;
  min-width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*열 flex*/
.rowcontainer{
  display: flex;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  gap: 7px;
}

.review-title{
  font-size: 21px;
  align-items: flex-end
}
.review-date{
  align-self: flex-end;
  color: #6F6F6F;
  font-size: 14px;
  letter-spacing: 0.3px;
}
.review-profile{
  height: 20px;
  width: 20px;
}
.review-id{
  color: #000;
  font-size: 14px;
}
.review-major{
  color: #000;
  font-size: 14px;
}
.review-hr{
  width:1px;
  border-width:0;
  color:#BCBCBC;
  background-color:#BCBCBC;
}

.review-main{
  text-align: justify;
  padding-top: 5px;
  padding-bottom: 5px;
}
.review-recommend-button{
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 0.5px solid #ADADAD;
  background: rgba(247, 247, 247, 0.50);
  padding-bottom: 0px;
}
.review-reply-button{
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 0.5px solid #ADADAD;
  background: rgba(247, 247, 247, 0.50);
  padding-bottom: 0px;
}

.review-hr-bottom{
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
  color: #DDDDDD;
}
.review-img{
  align-self: center;
  height: 160px;
  width: auto;
}
/*******************************************************************************/
/*******************************페이지7******************************************/
.detail-review__page{
  width: 993px;
  height: 768px;
  border-radius: 50px;
  background: #ffffff;
  padding: 40px;
}

.detail-review-title{
  font-size: 28px;
  align-items: flex-end;
}
.detail-review-date{
  align-self: flex-end;
  color: #6F6F6F;
  font-size: 18px;
  letter-spacing: 0.3px;
}
.detail-review-profile{
  height: 20px;
  width: 20px;
}
.detail-review-id{
  color: #4E4E4E;
  font-size: 18px;
}
.detail-review-major{
  color: #4E4E4E;
  font-size: 18px;
}
.detail-review-tag{
  width: 100px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 2px solid #00AFB9;
  color: #000000;
  background-color: #ffffff;
}
.detail-review-main{
  text-align: justify;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;

}


.detail-review-recommend-button{
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 0.5px solid #ADADAD;
  background: rgba(247, 247, 247, 0.50);
  padding-bottom: 0px;
}
.detail-review-reply-button{
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 0.5px solid #ADADAD;
  background: rgba(247, 247, 247, 0.50);
  padding-bottom: 0px;
}

.detail-review-hr-bottom{
  width: 100%;
  height: 1px;
  background-color: #DDDDDD;
  color: #DDDDDD;
}
.detail-review-img{
  align-self: center;
  height: 160px;
  width: auto;
}

.detail-review-product{
  align-self: flex-end;
  color: #6F6F6F;
  font-size: 14px;
  letter-spacing: 0.3px;
}

