/*입력 폼 가운데 정렬*/
.signup-inner {
    display: inline-block;
    text-align: left;
}

.login-inner {
    display: inline-block;
    text-align: center;
    width: 500px;
    height: 300px;
    position: relative;
    top: 100px;
    border: 1px solid #C6C4C4;
}

.ranking-inner {
    font-size: 15px;
    padding-left: 150px;
    text-align: left;
}

    .ranking-inner img {
        width: 80px;
        display: inline-block;
        vertical-align: middle;
    }

    .ranking-inner td {
        padding: 20px;
        border-bottom: 1px solid #d9d9d9;
    }

.level {
    color: #a4a4a4;
    font-size: 20px;
}

/*랭킹 가로 막대그래프*/
.bar-container {
    width: 300px;
    height: 40px;
    background-color: #f0f0f0;
    position: relative;
    margin-bottom: 10px;
}

.bar {
    height: 100%;
    background-color: #0081a7;
    width: 0;
    position: absolute;
    transition: width 1s;
}

/*10번 화면 대학 선택 버튼 통일*/
.btn10 {
    width: 110px;
    border-color: #00afb9;
    border-radius: 10px;
}
