/*행 block*/
.container{
    background-color: null;
    display: flex;
    height: 160px;
    min-width: 200px;
}
/*열 flex*/
.rowcontainer{
    display: flex;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    gap: 7px;

}

.review-title{
    font-size: 21px;
    align-items: flex-end
}
.review-date{
    align-self: flex-end;
    color: #6F6F6F;
    font-size: 14px;
    letter-spacing: 0.3px;
}
.review-profile{
    height: 20px;
    width: 20px;
}
.review-id{
    color: #000;
    font-size: 14px;
}
.review-major{
    color: #000;
    font-size: 14px;
}
.review-hr{
    width:1px;
    border-width:0;
    color:#BCBCBC;
    background-color:#BCBCBC;
}

.review-main{
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
}
.review-recommend-button{
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 0.5px solid #ADADAD;
    background: rgba(247, 247, 247, 0.50);
}
.review-reply-button{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 0.5px solid #ADADAD;
    background: rgba(247, 247, 247, 0.50);
}

.review-hr-bottom{
    width: 100%;
    height: 1px;
    background-color: #DDDDDD;
    color: #DDDDDD;
}
.review-img{
    align-self: center;
    height: 160px;
    width: auto;
}