:root{
  --red: #f07167;
  --default-blue: #0081a7;
  --light-blue: #00afb9;
  --nav-blue: #cfe2e4;
  --light-grey: #d9d9d9;
  --medium-grey: #c6c4c4;
  --deep-grey: #a4a4a4;
}

/*페이지 컨텐츠 제목*/
.contents-title{
  display:inline;
  padding-left: 40%;
  padding-bottom:5px;
  border-bottom: solid black 1pt;
}

.input-img{
  max-width: 20px;
  max-height: 20px;
  width:auto;
  height:auto;
}