:root{
  --red: #f07167;
  --default-blue: #0081a7;
  --light-blue: #00afb9;
  --nav-blue: #cfe2e4;
  --light-grey: #d9d9d9;
  --medium-grey: #c6c4c4;
  --deep-grey: #a4a4a4;
}

/*페이지 컨텐츠 제목*/
.contents-title{
  display:inline;
  padding-left: 40%;
  padding-bottom:5px;
  border-bottom: solid black 1pt;
}

.input-img{
  max-width: 20px;
  max-height: 20px;
  width:auto;
  height:auto;
}

body {
    font-family: Inter;
}

/*버튼 서식 - 속이 채워진*/
.default-blue-box{
  background-color:#0081a7;
}
.light-blue-box {
    background-color: #00afb9;
    border: none;
    border-radius: 5px;
}
.light-grey-box{
  background-color:#d9d9d9;
}
/*버튼 서식 - 테두리가 있는*/
.default-blue-border-box{
  border:#0081a7;
}



/*입력 폼 가운데 정렬*/
.outer {
    text-align: center;
    border-radius:10px;
}
.signup-inner {
    display: inline-block;
    text-align: left;
}
.login-inner {
    display: inline-block;
    text-align: center;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #C6C4C4;
}

/*페이지 제목: main-header*/
.main-header {
    text-align: center;
    font-weight: bold;
    border-bottom-color:#0081a7;
}
#main-hr {
    background: #00afb9;
    height: 1px;
    width: 1000px;
    border: 0;
}

/*10번 화면 대학 선택 버튼 통일*/
.btn10 {
    width: 110px;
    border-color: #00afb9;
    border-radius:10px;
}