<header>
    <div class="header">
        <!--logo-->
        <div id="logo-container">
            <a href="\index"><img id="logo" src="../../static/img/logo.png"></a>
        </div>
        <!--프로필, 사용자이름, 로그아웃-->
        <div id="loggedin-account">
            <!--이미지 추가-->
            <img src="../../static/img/profile.jpg">
            <!--마이페이지:이화인클릭 / 로그인화면:로그아웃클릭-->
            <a href="">이화인</a> | <a href="\8~10\login">로그아웃</a>
        </div>
    </div>
</header>

<!--내비게이션-->
<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-item"><a href="\1~4\1">상품등록</a></li>
        <li class="nav-item"><a href="\1~4\2">상품보기</a></li>
        <li class="nav-item"><a href="\5~7\5">리뷰작성</a></li>
        <li class="nav-item"><a href="\8~10\10">랭킹</a></li>
    </ul>
</nav>