<!DOCTYPE html>  
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    </head>
    <body>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-item"><a href="#">상품등록</a></li>
                <li class="nav-item"><a href="#">상품보기</a></li>
                <li class="nav-item"><a href="#">리뷰작성</a></li>
                <li class="nav-item"><a href="#">랭킹</a></li>
            </ul>
        </nav>


        <section>
            <!-- navigation bar와 같은 페이지의 중복 부분을 cpy하지 않고 서브 페이지에서 모두 동일하게 사용하도록 하는 코드 -->
            {% block section %}

            {% endblock section %}
        </section>
    </body>
</html>
